/* configuraciones generales */



@import "./components/header";
@import "./components/main";
@import "./components/spotify";
@import "./components/nosotros";
@import "./components/contacto";
@import "./components/galeria";
@import "./components/footer";
@import "./base/extends";
@import "./base/listas";
@import "./base/mixins";


body {
    margin: 0;
    padding: 0;
    font-size: 62,5%;
}

/* fin de configuraciones generales */