/* footer */
#footer {
    background-color: nth($colores, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .redes {
        padding: 0;
        margin: 0;

        .lista-de-redes {
            margin: 0;
            padding: 1rem;

            li {
                a {
                    @extend %link-nav;
                }
            }
        }
    }
    .direccion {
        margin: 0;
        color: #d4d4d4;
        font-size: 15px;
    }
}
/* fin del footer */