/* inicio del main */
@import "../base/listas";
main {

    .titulo-artistas {
        display: flex;
        justify-content: center;
        margin: 4rem 2rem;
        @extend %titulo-mediano;
    }
    .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    margin: 2rem;
    height: 40rem;
    border: 6px solid nth($colores, 1)  ;
    transform: none;
    transition: none; 
    background-color: nth($colores, 2);
    h3 {
        @extend %titulo-mediano;
    }
    p {
        @extend %parrafos;
    }
    }
}

/* tranform and transition */
.contenedor-cards {
    .card :hover {
        transform: none;
    }
}

.contenedor-cards :hover {
    transform: scale(1.1);
    transition: all 1s;
    z-index: 2; 
}

/* media quieries */
@media screen and (min-width: 1200px) {
    .card {
        height: 40rem;
        margin: 1rem;
        width: 30rem;
    }
}

/* fin del main */

