

@import "../base/mixins";
/* nosotros */
#nosotros {
    @include grid(grid, 1fr, 1fr 1fr);
    margin: 10rem 5%;    
    align-items: center;

    h2 {
        margin: 0;
        text-align: center;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        @extend %titulo-mediano;
    }

    p {
        margin: 0;
        padding: 1rem;
        text-align: center;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        @extend %parrafos;
    }
}

@media screen and (max-width: 768px) {
    #nosotros {
        display: none;
    }
}
/* fin nosotros */