%titulo-mediano {
    font-family: 'Ultra', serif;
    color: #555555 ;
    padding-top: 10px;
    padding-bottom: 20px;
}

%link-nav {
    text-decoration: none;
    color: #d4d4d4;
    letter-spacing: 5px;
}

%parrafos {
    font-family: 'Joan', serif;
    font-weight: bold;
}